/* 
FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;600&family=Josefin+Sans:ital,wght@0,400;1,600&display=swap');

/* 
RESETTING
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
VARIABLES
*/
:root {
  --clr-1: #2dff64d9;
  --clr-2: #cb2376;
  --clr-3: #101023;
  --clr-4: #192155;
  --transition: all 0.3s linear;
  --radius: 10px;
  --spacing: 0.1rem;
  --primary-font: 'Dancing Script', cursive;
  --secondary-font: 'Josefin Sans', sans-serif;
}
/* GLOBALS */

body {
  font-family: var(--primary-font);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
}
img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0.375rem 0.775rem;
  text-transform: capitalize;
  font-weight: 600;
  transition: var(--transition);
  border: transparent;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(45, 39, 223, 1) 0%,
    rgba(203, 35, 118, 1) 100%
  );
  color: #fff;
}

.section-center {
  width: min(90vw, 1200px);
  margin: 0 auto;
}

.page-full {
  min-height: calc(100vh - 8rem);
}

/* FORMS */
form {
  text-align: center;
}
select {
  width: 100%;
  max-width: 25rem;
  height: 2rem;
  background-color: #192155;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
/* option {
  font-size: 1.1rem;
} */
.battle-img {
  max-height: 30rem;
  max-width: 30rem;
  object-fit: cover;
  margin: 0 auto;
}
